*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(212, 45%, 89%);
  font-family: "Outfit";
  font-size: 15px;
}

img {
  padding: 1rem;
  border-radius: 8%;
  width: 100%;
}

.image-text {
  background-color: hsl(0, 0%, 100%);
  /* Center vertically and horizontally */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4%;
  text-align: center;
  width: 20%;
  min-width: 375px;
}
.image-text h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: hsl(218, 44%, 22%);
  text-align: center;
  padding-inline: 10%;
}
.image-text p {
  font-weight: 400;
  font-size: 15px;
  padding: 2% 10% 10%;
  color: hsl(220, 15%, 55%);
}

@media (max-width: 350px) {
  .image-text {
    width: 90%;
  }
} ;
